.searchWeather{
  position: relative;
  margin: 0 auto;
  width:800px;
  height: 700px;
  background-color:white;
}

.weatherLogo{
  font-family: '../../Fonts/GowunDodum-Regular.ttf';
  font-size: 25px;
  color: white;
  position: absolute;
  left: 350px;
  top: 40px;
}

.clouds1{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 120px;
  top: 45px;
}

.clouds2{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 370px;
  top: 10px;
}

.clouds3{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 670px;
  top: 80px;
}


.heroDecorBgImg{
  position: absolute;
  left: 0;
  right: 0;
}

.heroMascotImg{
  position: absolute;
  left: 304px;
  top: 220px;
}

@media(max-width:420px){
  .searchWeather{
    position: absolute;
    margin: 0 auto;
    width:100%;
    height: 100%;
    background-color:white;
  }
  
  .weatherLogo{
    display: none;
    font-family: '../../Fonts/GowunDodum-Regular.ttf';
    font-size: 25px;
    color: white;
    position: absolute;
    left: 150px;
  }
  
  .clouds1{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 25px;
    top: 25px;
  }
  
  .clouds2{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 185px;
    top: 3px;
  }
  
  .clouds3{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 360px;
    top: 10px;
  }
  
  
  .heroDecorBgImg{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
  }
  
  .heroMascotImg{
    position: absolute;
    left: 110px;
    top: 120px;
  }
  
  
  
}


@media(max-width:370px){

  .searchWeather{
    position: absolute;
    margin: 0 auto;
    width:100%;
    height: 100%;
    background-color:white;
  }
  
  .weatherLogo{
    display: none;
    font-family: '../../Fonts/GowunDodum-Regular.ttf';
    font-size: 25px;
    color: white;
    position: absolute;
    left: 150px;
  }
  
  .clouds1{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 25px;
    top: 20px;
  }
  
  .clouds2{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 160px;
    top: 3px;
  }
  
  .clouds3{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 310px;
    top: 5px;
  }
  
  
  .heroDecorBgImg{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
  }
  
  .heroMascotImg{
    width: 180px;
    height: 100px;
    position: absolute;
    left: 105px;
    top: 105px;
  }
}